<div data-shipping-form="{{ handle }}">
    <div class="shipping__header">
        {{ 'Missing shipping plugin data'|t('shipping-toolbox') }}
    </div>
    <div class="shipping__box-wrapper">
        <div>
            {{ 'This orders has shipment data for plugin with handle'|t('shipping-toolbox') }} <strong>{{ handle }}</strong> {{ 'that is not installed.'|t('shipping-toolbox') }}
        </div>
        <br>
        <button class="btn submit" data-remove-orphan-data>{{ 'Remove shipment data'|t('shipping-toolbox') }}</button>
    </div>
</div>

<script>
{% js %}
(function(){
let container = $('[data-shipping-form="{{ handle }}"]');
container.find('[data-remove-orphan-data]').on('click', function(e){

    e.preventDefault();

    if(confirm('{{ 'Are you sure?'|t('shipping-toolbox') }}')){
        let sendController = '{{actionUrl('shipping-toolbox/shipment/remove-shipment-details-from-database')}}';
        let formData = new FormData();

        formData.append('orderId', {{ order.id }});
        formData.append('pluginHandle', '{{ handle }}');
        formData.append('{{craft.app.config.general.csrfTokenName}}', '{{ craft.app.request.csrfToken }}');

        var button = container.find('[data-remove-orphan-data]');

        $.ajax({
            cache: false,
            contentType: false,
            processData: false,
            method: "POST",
            url: sendController,
            data: formData,
            dataType: "json",
            beforeSend: function( ) {
                button.addClass('btn-is-loading');
                $('[data-interface]').addClass('shipping-interface-blocked');
            },
        }).always(function() {
            $('[data-interface]').removeClass('shipping-interface-blocked');
            button.removeClass('btn-is-loading');
        }).done(function( data ) {
            if(data['success'] ?? false){
                {% if reloadOnRequest %}
                location.reload();
                {% endif %}
            }else{
                Craft.cp.displayError(data['status']);
            }
        }).fail(function( data ) {
            Craft.cp.displayError('Controller error');
        });
    }

});
})();
{% endjs %}
</script>

{% css %}
.shipping__header {
    font-weight: bold;
    margin-bottom: 1rem;
}
.shipping__box-wrapper {
    background-color: #f3f7fc;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #cdd8e4,0 2px 12px rgba(205,216,228,.5);
    padding: 1rem;
}

.btn-is-loading:after {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    margin-top: -.5rem;
    margin-left: -.5rem;
    border: 2px solid;
    border-radius: 50%;
    animation: btn-loading .5s infinite linear;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    left: 50%;
    top: 50%;
    z-index: 1;
}
.btn-is-loading.submit:after{
    border-top-color: white;
    border-left-color: white;
}
.btn-is-loading:not(.submit):after{
    border-top-color: black;
    border-left-color: black;
}
@keyframes btn-loading {
    0% {
        transform:rotate(0)
    }
    to {
        transform:rotate(360deg)
    }
}
.btn-is-loading, .btn-is-loading.submit {
    position:relative;
    pointer-events:none;
    color:transparent !important;
}

{% endcss %}